html {
  font-family: 'Times New Roman', Times, serif;
}

/* Your CSS below here */
div {
  width: 400px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  line-height: 8;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 2px black;
  font-size: 40px;
  background-color: aquamarine;
  border-radius: 20px;
  border: 1px solid black;
  background-image: linear-gradient(to left top, violet, orange);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.5);
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6), 2px 2px 5px black;
}